<div id="export" class="modal">
  <div class="modal-content">
    <div class="html-editor">
      <button class="waves-effect waves-light btn-small square" id="copy-html">
        Copy HTML
      </button>
    </div>
    <div class="css-editor">
      <button class="waves-effect waves-light btn-small square" id="copy-css">
        Copy CSS
      </button>    
    </div>
  </div>
</div>