<nav>

    <div id="nav-logo">
        flexboxy
    </div>
    <ul id="nav-tools">
        <li class="title">
            TOOLS
        </li>
        <li>
            <button class="waves-effect waves-light btn-small square tooltipped" data-tooltip="Draw" id="slice-tool">
                <img src="./assets/draw.svg" />
            </button>
        </li>

        <li>
            <button class="waves-effect waves-light btn-small square tooltipped" data-tooltip="Resize" id="resize-tool">
                <img src="./assets/resize.svg" />
            </button>
        </li>

        <li>
            <button class="waves-effect waves-light btn-small square tooltipped" data-tooltip="View Grouping" id="grouping-tool">
                <img src="./assets/grouping.svg" />
            </button>
        </li>
    </ul>

    <ul id="nav-history">
        <li class="title">
            HISTORY
        </li>
        <li>
            <button class="waves-effect waves-light btn-small square tooltipped" data-tooltip="Undo"  id="undo">
                <img src="./assets/undo.svg" />
            </button>
        </li>

        <li>
            <button class="waves-effect waves-light btn-small square tooltipped" data-tooltip="Redo"  id="redo">
                <img src="./assets/redo.svg" />
            </button>
        </li>
    </ul>

    <div id="toast-container"></div>
</nav>