<div class="thin">
    <button id="export-button" data-target="export" class="waves-effect waves-light btn-small modal-trigger">
        <i class="material-icons left">
            <img src="./assets/export-arrow.svg" />
        </i>
        EXPORT HTML + CSS
    </button>
</div>


<div class="thin grid-options">
    <div>
        <div class="sidebar-title row">
            <section class="col s3">Grid</section>
            <section class="col s9">

                <div class="switch right">
                    <label>SNAP
                        <input type="checkbox" id="snaptogrid" checked="checked" />
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch right">
                    <label>VISIBLE
                        <input type="checkbox" id="grid" checked="checked" />
                        <span class="lever"></span>
                    </label>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <section class="col s4">
            <div>Columns</div>
            <div>
                <input type="text" id="grid-columns" value="12">
            </div>
        </section>
        <section class="col s4">
            <div>Rows</div>
            <div>
                <input type="text" id="grid-rows" value="6">
            </div>
        </section>

        <section class="col s4">
            <div>Sub</div>
            <div>
                <input type="text" id="grid-sub" value="2">
            </div>
        </section>
    </div>

</div>


<div class="tree">
    <div>
        <div class="sidebar-title tree-title row">
            Tree
        </div>
    </div>
    <div class="tree-wrapper">
        <ul id="tree-inner"></ul>    
    </div>
    



</div>
