<div id="workspace-window-wrapper">
    <div id="message">
        <b>Flexboxy</b> is an <a href="https://github.com/onurkerimov/flexboxy"><b>open source</b></a> tool for building flexbox layouts easily. Made with ❤️ by <a href="https://github.com/onurkerimov"><b>@onurkerimov</b></a>. 
    </div>
    <div id="workspace-window">
        <div class="ui-row ui-flex">
            <div id="workspace-wrapper">
                <%-include workspace-inner %>
            </div>
            <div id="ui-right-gripper" class="gripper">
                <img src="./assets/right-grip.png"/>
            </div>
        </div>
        <div class="ui-row ui-fixedsize">
            <div id="ui-bottom-gripper" class="gripper">
                <img src="./assets/bottom-grip.png"/>
            </div>
            <div id="ui-diagonal-gripper" class="gripper">
                <img src="./assets/diagonal-grip.png"/>
            </div>
        </div>
    </div>
</div>